@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* font-family: 'Ubuntu', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;

}


.container-fluid{
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
    height: 8vh;
}

.navbar{
    padding: 0;
}

.modal-content{
    align-items: center;
    font-family: "Ubuntu", sans-serif;
    
}

h1{
    text-align: center;
    font-weight: 800;
    padding: 20px 0;
}

main {
    background: url(../assets/fondo-pantalla.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.card{
    margin-bottom: 10px;
}



footer{
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); 
}

footer>div{
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 800;
    
}